@charset "UTF-8";

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Idroid', cursive;
}

@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/BebasNeue-Regular.ttf);
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor2),var(--cor3),var(--cor4));
    color: white;
    margin:-10px -10px -0px -10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
    min-height: 150px;
}
h1{
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
    font-weight: normal;
}
header>p{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1.2em;
}
nav{
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
h2{
    color:var(--cor4);
    font-family: var(--fonte-android);
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
}
h3{
    color:var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    background-image: linear-gradient(to right,var(--cor1),transparent);
    padding-left: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
}
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}
footer{
    background-color: #1A5C38;
    margin: 0px -10px -10px -10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
}
footer>a{
    text-decoration: none;
    color: white;
}
span{
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
nav>a:hover{
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 5px;
    transition-duration: 0.5s;
    padding: 10px 0px 10px 0px;
}
p{
    text-align: justify;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.705);
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
img{
    margin: auto;
    display: block;
}
iframe{
    margin: auto;
    display: block;
    width: 100%;
}
#video{
    background-color: #1A5C38;
    padding: 30px;
    margin: 0px -20px 0px -20px;
    border-radius: 0px;
}
article{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.219);
    border-radius: 10px 10px 10px 10px;
}
h4{
    background-color:#2DA060;
    color: white;
    padding: 10px 0px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -1px;
}
#lista{
    background-color:#c5ebd6;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.list{
    display: inline-block;
    margin-right: 100px;
}
.links{
    font-weight: 900;
    color:var(--cor4);
}
ul{
    list-style-type: '\2714\00A0\00A0';
}